@using MScheduler_Web.Models
@model List<BatonSlot>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <label>Slot Type</label>
        </div>
        <div class="col-sm-3">
            <label>Slot Filler</label>
        </div>
        <div class="col-sm-3">
            <label>Title</label>
        </div>
        <div class="col-sm-3">
            <label>Description</label>
        </div>
        <div class="col-sm-1">
            <label>Sort Number</label>
        </div>
    </div>
    @for (int i = 0; i < Model.Count; i++) {
        @Html.HiddenFor(m => m[i].IsDisabled)
        @Html.HiddenFor(m => m[i].SlotId)
        <div class="row">
            <div class="col-sm-2">
                @if (Model[i].IsSlotTypeDisabled) {
                    @Html.DropDownListFor(m => m[i].SlotTypeId, Model[i].SlotTypes, new { @class = "form-control", @disabled = "disabled" })                   
                } else {
                    @Html.DropDownListFor(m => m[i].SlotTypeId, Model[i].SlotTypes, new { @class = "form-control" })
                }
            </div>
            <div class="col-sm-3">
                <div id="SlotFiller@(Model[i].SlotFillerId.ToString())">
                    @Html.DropDownListFor(m => m[i].SlotFillerId, Model[i].SlotFillers, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m[i].Title, new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m[i].Description, new { @class = "form-control" })
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m[i].SortNumber, new { @class = "form-control" })
            </div>
        </div>
    }
</div>