@using MScheduler_Web.Models
@model List<BatonTemplateSlot>

@if (Model != null && Model.Count > 0) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
                <label>Delete</label>
            </div>
            <div class="col-sm-1">
                <label>Type</label>
            </div>
            <div class="col-sm-1">
                <label>Title</label>
            </div>
            <div class="col-sm-1">
                <label>Sort Number</label>
            </div>
        </div>
        @for (int i = 0; i < Model.Count; i++) {
            @Html.HiddenFor(m => m[i].TemplateId)
            @Html.HiddenFor(m => m[i].Id)
            <div class="row">
                <div class="col-sm-1">
                    @Html.CheckBoxFor(m => m[i].IsDeleted)
                </div>
                <div class="col-sm-1">
                    @Html.DropDownListFor(m => m[i].SlotTypeId, Model[i].SlotTypes, new { @class = "form-control" })
                </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m[i].Title, new { @class = "form-control" })
                </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m[i].SortNumber, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
}
