@using MScheduler_BusTier.Concrete
@model EditMeetingView.MonthWithMeetings

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddMonthWithOffset", "EditMeeting", new { offset = -1 })'">@Html.Raw("<-")</button>
<div class="btn-group">
    <button type="button" class="btn btn-success">@Model.MonthName</button>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @for (int i = 0; i < Model.ExtraMonths.Count; i++) {
            if (Model.ExtraMonths[i].IsCurrentMonth) {
                <li class="divider"></li>
                <li><a href="@Url.Action("AddMonthWithOffset", "EditMeeting", new { offset = Model.ExtraMonths[i].MonthOffset})">@Model.ExtraMonths[i].Name</a></li>
                <li class="divider"></li>
            } else {
                <li><a href="@Url.Action("AddMonthWithOffset", "EditMeeting", new { offset = Model.ExtraMonths[i].MonthOffset })">@Model.ExtraMonths[i].Name</a></li>
            }
            
        }
    </ul>
</div>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddMonthWithOffset", "EditMeeting", new { offset = 1 })'">@Html.Raw("->")</button>
<div class="CalTitle">@Model.MonthName</div>
<table border="1" class="Cal">
    <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
    <tr><td><span>@Model.MonthDays[0]</span></td><td><span class="date">@Model.MonthDays[1]</span></td><td><span class="date">@Model.MonthDays[2]</span></td><td><span class="date">@Model.MonthDays[3]</span></td><td><span class="date">@Model.MonthDays[4]</span></td><td><span class="date">@Model.MonthDays[5]</span></td><td><span class="date">@Model.MonthDays[6]</span></td></tr>
    <tr><td><span>@Model.MonthDays[7]</span></td><td><span class="date">@Model.MonthDays[8]</span></td><td><span class="date">@Model.MonthDays[9]</span></td><td><span class="date">@Model.MonthDays[10]</span></td><td><span class="date">@Model.MonthDays[11]</span></td><td><span class="date">@Model.MonthDays[12]</span></td><td><span class="date">@Model.MonthDays[13]</span></td></tr>
    <tr><td><span>@Model.MonthDays[14]</span></td><td><span class="date">@Model.MonthDays[15]</span></td><td><span class="date">@Model.MonthDays[16]</span></td><td><span class="date">@Model.MonthDays[17]</span></td><td><span class="date">@Model.MonthDays[18]</span></td><td><span class="date">@Model.MonthDays[19]</span></td><td><span class="date">@Model.MonthDays[20]</span></td></tr>
    <tr><td><span>@Model.MonthDays[21]</span></td><td><span class="date">@Model.MonthDays[22]</span></td><td><span class="date">@Model.MonthDays[23]</span></td><td><span class="date">@Model.MonthDays[24]</span></td><td><span class="date">@Model.MonthDays[25]</span></td><td><span class="date">@Model.MonthDays[26]</span></td><td><span class="date">@Model.MonthDays[27]</span></td></tr>
    <tr><td><span>@Model.MonthDays[28]</span></td><td><span class="date">@Model.MonthDays[29]</span></td><td><span class="date">@Model.MonthDays[30]</span></td><td><span class="date">@Model.MonthDays[31]</span></td><td><span class="date">@Model.MonthDays[32]</span></td><td><span class="date">@Model.MonthDays[33]</span></td><td><span class="date">@Model.MonthDays[34]</span></td></tr>
    @if (Model.MonthDays[35] != null) {
        <tr><td><span>@Model.MonthDays[35]</span></td><td><span class="date">@Model.MonthDays[36]</span></td><td><span class="date">@Model.MonthDays[37]</span></td><td><span class="date">@Model.MonthDays[38]</span></td><td><span class="date">@Model.MonthDays[39]</span></td><td><span class="date">@Model.MonthDays[40]</span></td><td><span class="date">@Model.MonthDays[41]</span></td></tr>
    }    
</table>
<p>
