@using MScheduler_BusTier.Concrete
@model EditMeetingView.MonthWithMeetings

@Html.EditorForModel("MonthSelector")
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddMonthWithOffset", "EditMeeting", new { offset = 1 })'">@Html.Raw("->")</button>
<div class="CalTitle">@Model.MonthName</div>
<table border="1" class="Cal">
    <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
    @for (int week = 0; week < 6; week++) { 
        if (week < 5 || @Model.MonthDays[week * 7] != null) {
            <tr>
            @for (int day = (week * 7); day < (week * 7) + 7; day++) {
                <td>
                    @if (Model.MonthDays[day] != null) {
                        <span>@Model.MonthDays[day]</span>
                        <button type="button" class="btn btn-xs btn-default CalPlusButton" onclick="location.href='@Url.Action("CreateMeetingConfirm", "EditMeeting")'">+</button>
                    }
                </td>
            }
        </tr>
        }
    }
</table>
<p>
